<div class="crm-rssoption-detail">
	<el-form :model="data" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">

		<el-tabs type="border-card">
			<el-tab-pane label="基本信息">
				<div class="form form-basic">
					<el-form-item label="名称" prop="name">
						<el-input v-model="data.name"></el-input>
					</el-form-item>
					<el-form-item label="标题" prop="title">
						<el-input v-model="data.title"></el-input>
					</el-form-item>

					<el-form-item label="图标" required>
						<el-upload class="avatar-uploader" action="https://crm.liangcanl.cn/ue/ueditor/ue/api?action=uploadimage" :show-file-list="false" :on-success="handleImgUploaded">
							<img v-if="data.icon" :src="data.icon" class="avatar">
							<i v-else class="el-icon-plus avatar-uploader-icon"></i>
						</el-upload>
					</el-form-item>
					<el-form-item label="rss地址" required>
						<el-form-item prop="link">
							<el-input v-model="data.link"></el-input>
						</el-form-item>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
						<el-button @click="resetForm('ruleForm')">重置</el-button>
						<el-button @click="goBack()">返回</el-button>
					</el-form-item>
				</div>
			</el-tab-pane>
			<el-tab-pane label="内容管理">
				<div class="form form-content">
					<el-form-item label="描述" prop="remark">
						<el-input type="textarea" :autosize="{ minRows: 3, maxRows: 4}" placeholder="请输入内容" v-model="data.remark">
						</el-input>
					</el-form-item>

					<!-- <el-form-item label="过滤器" prop="filters">
						<bo-editor v-model="data.content"></bo-editor>
					</el-form-item> -->

					<el-form-item label="前置文本" prop="appendText">
						<bo-editor v-model="data.appendText"></bo-editor>
					</el-form-item>

					<el-form-item label="后置文本" prop="prependText">
						<bo-editor v-model="data.prependText"></bo-editor>
					</el-form-item>

					<el-form-item>
						<el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
						<el-button @click="resetForm('ruleForm')">重置</el-button>
						<el-button @click="goBack()">返回</el-button>
					</el-form-item>
				</div>
			</el-tab-pane>
			<el-tab-pane label="系统信息">
				<div class="form form-others">

					<el-form-item label="发布日期" required>
						<el-form-item prop="pubDate">
							<el-date-picker type="date" placeholder="选择日期" v-model="data.pubDate" style="width: 100%;"></el-date-picker>
						</el-form-item>
					</el-form-item>

					<el-form-item label="作者" prop="author">
						<el-input v-model="data.author"></el-input>
					</el-form-item>

					<el-form-item label="创建日期" required>
						<el-form-item prop="pubDate">
							<el-date-picker type="date" placeholder="选择日期" v-model="data.created" style="width: 100%;"></el-date-picker>
						</el-form-item>
					</el-form-item>
					<el-form-item label="更新日期" required>
						<el-form-item prop="pubDate">
							<el-date-picker type="date" placeholder="选择日期" v-model="data.updated" style="width: 100%;"></el-date-picker>
						</el-form-item>
					</el-form-item>

					<el-form-item>
						<el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
						<el-button @click="resetForm('ruleForm')">重置</el-button>
						<el-button @click="goBack()">返回</el-button>
					</el-form-item>
				</div>
			</el-tab-pane>
		</el-tabs>
	</el-form>

</div>
