<div class="crm-rss-detail">


	<el-tabs type="border-card">
		<el-tab-pane label="基本信息">
			<el-form :model="data" :rules="rules" ref="ruleForm1" label-width="100px" class="demo-ruleForm">
				<div class="form form-basic">
					<el-form-item label="名称" prop="name">
						<el-input v-model="data.name"></el-input>
					</el-form-item>
					<el-form-item label="标题" prop="title">
						<el-input v-model="data.title"></el-input>
					</el-form-item>

					<el-form-item label="图标" required>
						<el-upload class="avatar-uploader" action="https://crm.liangcanl.cn/ue/ueditor/ue/api?action=uploadimage" :show-file-list="false" :on-success="handleImgUploaded">
							<img v-if="data.icon" :src="data.icon" class="avatar">
							<i v-else class="el-icon-plus avatar-uploader-icon"></i>
						</el-upload>
					</el-form-item>

					<el-form-item label="类别" required>
						<el-select v-model="data.ctg" placeholder="请选择">
							<el-option v-for="item in ctgs" :key="item.value" :label="item.label" :value="item.value">
							</el-option>
						</el-select>
					</el-form-item>

					<el-form-item label="描述" prop="author">
						<el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="请输入内容" v-model="data.remark">
						</el-input>
					</el-form-item>

					<el-form-item label="是否推送" required>
						<!-- <el-form-item prop="pubDate">
							<el-switch on-text="" off-text="" v-model="data.isPush"></el-switch>
						</el-form-item> -->
						<el-radio class="radio" v-model="data.isPush" :label="true">是</el-radio>
						<el-radio class="radio" v-model="data.isPush" :label="false">否</el-radio>
					</el-form-item>
					<el-form-item label="推送日期" required>
						<el-form-item prop="pubDate">
							<el-date-picker type="date" placeholder="发布时间" v-model="data.pushDate" style="width: 100%;"></el-date-picker>
						</el-form-item>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="submitForm('ruleForm1')">保存</el-button>
						<el-button @click="resetForm()">重置</el-button>
						<el-button @click="goBack()">返回</el-button>
					</el-form-item>
				</div>
			</el-form>
		</el-tab-pane>
		<el-tab-pane label="内容管理">
			<el-form :model="data" :rules="rules" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
				<div class="form form-content">


					<el-form-item label="详情" prop="content">
						<bo-editor width="900" height="500" v-model="data.content"></bo-editor>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="submitForm('ruleForm1')">保存</el-button>
						<el-button @click="resetForm()">重置</el-button>
						<el-button @click="goBack()">返回</el-button>
					</el-form-item>
				</div>
			</el-form>
		</el-tab-pane>
		<el-tab-pane label="系统信息">
			<el-form :model="data" :rules="rules" ref="ruleForm3" label-width="100px" class="demo-ruleForm">
				<div class="form form-others">

					<el-form-item label="发布日期" required>
						<el-form-item prop="pubDate">
							<el-date-picker type="date" placeholder="选择日期" v-model="data.pubDate" style="width: 100%;"></el-date-picker>
						</el-form-item>
					</el-form-item>

					<el-form-item label="作者" prop="author">
						<el-input v-model="data.author"></el-input>
					</el-form-item>

					<el-form-item label="创建日期" required>
						<el-form-item prop="pubDate">
							<el-date-picker type="date" placeholder="选择日期" v-model="data.created" style="width: 100%;"></el-date-picker>
						</el-form-item>
					</el-form-item>
					<el-form-item label="更新日期" required>
						<el-form-item prop="pubDate">
							<el-date-picker type="date" placeholder="选择日期" v-model="data.updated" style="width: 100%;"></el-date-picker>
						</el-form-item>
					</el-form-item>

					<el-form-item>
						<el-button type="primary" @click="submitForm('ruleForm1')">保存</el-button>
						<el-button @click="resetForm()">重置</el-button>
						<el-button @click="goBack()">返回</el-button>
					</el-form-item>
				</div>
			</el-form>
		</el-tab-pane>
	</el-tabs>

</div>
